<ul>
    {% for root in roots %}
        <li> <a href={{ root.url }}>{{root.name}}</a>
            <ul>
                {% for key, value in data %}
                    {% if key == root.name %}
                        {% for i in value %}
                            {% for k, v in i.items %}
                                {% if k == 'name' %}
                                    {%include "menu/tree_element.html"%}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

